---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('April 08 2023')}
	heroImage="/genius-at-work.jpg">
	<p>
		Hiiii everybody! (Hi Mister Dave!)... In case you can't already tell I'm a huge Simpsons fan. The first dozen or so seasons informed much of my personality and world views without me even realizing it as a kid -> teen -> young adult, and I wouldn't have it any other way. Other than watching old episodes (with commentary!) on my DVD box sets, I also really enjoy listening to Podcasts (I'll likely write a blog on that...) and music (metal, punk, alternative, and yea, love me some TSwizzle), gardening, jogging, reading (mostly fantasy/sci-fi), playing guitar and video games (blogs to come for this topic too). My partner and I also have a few cats who we love deeply, and are an endless source of amusement and vet bills!
	</p>

	<p>
		My story of how I got into software development is one of my favorites to tell. It all started back in the 1900's (yes it existed kids, ask your parents), as schools were getting their first hand-me-downs of technology in the classrooms. In a math class, we all needed some kind of graphing calculator (mine happened to be a TI-85). During the Quadratic Formula arc of our learning story, I realized something: "showing our work" was pointless busy work, and I knew the calculator to be the key. I wrote a little TI-BASIC that took in your a,b and c vars, and output all "the work" to the screen. Being "for the people" that I am, I distributed said program around the class one by one (IYKYK). Well, the teacher eventually caught on, called me out for cheating (they weren't 'wrong'...) but also impressed at what I had accomplished.
        
        A few years later I was fortunate enough to attend a high school that actually offered Comp Sci classes -- which was NOT common at the time. I took VB6 and C++, where I forged friendships and made a fun Mortal Kombat rip off that pitted two of the teachers in the school against each other. Don't worry, they were into it, and loved posing for the jpgs of punches and kicks!
	</p>

	<p>
		Fast forward about to the late 2000s, and I was back in local college for CompSci after spending a decade in the restaurant industry. I was lucky and fortunate enough to be given an opportunity to put my old passions to work for the same restaurant company I was working for. Let's just say... a certain cult favorite SoCal burger chain. I will forever be grateful for the opportunity to prove myself in a professional environment, with no formal education and no professional experience, but the rest of that story is a tale for another day (blog).
	</p>

	<p>
		I'm currently employed as a Software Engineer IV in the <a href="https://www.clockshark.com/">Clockshark</a> wing of <a href="https://www.simprogroup.com/">SimPro</a>. I mostly focus on the mobile app product, which leverages .NET MAUI (.NET being my bread and butter), but I also work on the server side often: the site with KO and Blazor, the Api's with C# and the various datastores and cloud functions.
	</p>
</Layout>
