---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Oy, friendo!</h1>
			<p>
				Welcome to my personal site, mainly stood up to record my musings, recommendations and everything in between. I've been in the software industry for over 13 years, both as an individual contributor (IC) and manager. I am currently a Software Engineer for the <a href="https://www.clockshark.com/">Clockshark</a> wing of <a href="https://www.simprogroup.com/">SimPro</a>. I like to write about practices, habits, people and technology. I will also find ways (it's not hard, since its an institution of modern entertainment) to inject Simpsons references and humor into everything I do and write. Hope you enjoy!
			</p>
			<p>
				I built this site with the <a href="https://astro.build/">Astro</a> toolkit, and will really recommend the product and community. The <a href="https://docs.astro.build/en/getting-started/">docs</a> are a thing of beauty, and were extremly helpful in getting this stood up (there will definitely be a blog on this later). Astro is partnered with Netlify, where this is hosted. Shoutout to the ease there as well!
			</p>
		</main>
		<Footer />
	</body>
</html>
